{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitch' }) }}">
        <span>Login with Twitch</span>
    </a>
{% endblock %}
